.engineering-page {
  max-width: var(--grid-content-width);
  margin: 0 auto;
  padding: var(--space-40) var(--space-20);
}

.engineering-page > * + * {
  margin-top: var(--space-16);
}

.engineering-page h1 {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-title-large);
}

.engineering-page a {
  display: inline-block;
}
